<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirection vers HTTPS
    RewriteCond %{HTTPS} !=on
    RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]

    # Redirection vers l'URL canonique avec "www"
    RewriteCond %{HTTP_HOST} !^www\. [NC]
    RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1 [R=301,L]

    # Redirection spécifique pour l'URL canonique "apropos"
    RewriteCond %{REQUEST_URI} ^/apropos/?$ [NC]
    RewriteRule ^(.*)$ https://www.meteagroupe.com/expertise_maritime_abidjan [R=301,L]

    # Supprimer les extensions .html des URLs
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}.html -f
    RewriteRule ^([^/]+)/?$ $1.html [L]

    # Redirection spécifique pour la page d'accueil
    RewriteRule ^accueil/?$ index.html [L]
</IfModule>

<IfModule mod_headers.c>
    # Désactiver le cache pour certains fichiers
    <FilesMatch "^(?!.*\.([0-9a-z]{20})\.).*$">
        FileETag None
        Header unset ETag
        Header unset Pragma
        Header unset Cache-Control
        Header unset Last-Modified
        Header set Pragma "no-cache"
        Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
        Header set Expires "Mon, 1 Jan 1900 00:00:00 GMT"
    </FilesMatch>
</IfModule>
